/* RESET */
@import url(https://fonts.googleapis.com/css?family=Roboto:300);
html,body,div,span,h1,h2,h3,h4,h5,h6,p,a,ul,li,article,footer,header,nav,section,img
{
	margin: 0;
	padding: 0;
	border: 0;
}

body{
  float: left;
  margin-left: 10px;
  margin-top: 30px;
	height: 100%;
	font-family: "Roboto", sans-serif;
}

/* Mute Button*/
#mute{
	background-color: #e7e7e7;
	color: black;
	border: none;
	padding: 6px 12px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	margin-bottom: 5px;
	float: right;
	margin-right: 5px;
}

#unmute{
	background-color: #e7e7e7;
	color: black;
	border: none;
	padding: 6px 12px;
	text-decoration: none;
	display: inline-block;
	margin-bottom: 5px;
	cursor: pointer;
	float: left;
}

#like{
	background-color: #e7e7e7;
	color: black;
	border: none;
	padding: 6px 12px;
	text-decoration: none;
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	cursor: pointer;
	float: right;
}

#muted_username{
	float: left;
	margin-top: 5px;
	margin-right: 5px;
	margin-left: 5px;
}

#muted_list{
	border: 0.5px;
	border-style: solid;
	overflow: hidden;
	width: 370px;
	margin-left: 5px;
  margin-bottom: 5px;
}

#muted_title{
	margin-left: 5px;
	font-size: 20px;
}

#post-form{
  margin-left: 5px;
  margin-bottom: 5px;
}

/*User message box in feed*/
#posts div{
	margin-top: 10px;
  border: 0.5px;
  border-style: solid;
  width: 370px;
  margin-left: 5px;
  margin-bottom: 5px;
	overflow: hidden;
}

#posts div #username{
  font-weight: bold;
  float: left;
  margin-left: 5px;
  margin-top: 5px;
}

#posts div #timestamp{
  float: right;
  margin-top: 5px;
  margin-right: 5px;
}

#posts div #content{
  margin-top: 10px;
  margin-left: 5px;
  margin-bottom: 5px;
}

#menu-bar{
  float: left;
  margin-top: -30px;
  margin-left: -10px;
}

#menu-bar a{
	font-family: "Roboto", sans-serif;
  float: left;
	background-color: #d6d8db;
  display: inline;
  color: black;
  text-decoration: none;
  padding: 10px;
  width: auto;
  border-left: 1px solid;
  border-top: 1px solid;
  border-bottom: 1px solid;
}

#menu-bar a:hover{
  background-color: #b3b5b7;
}

#devtools-menu, #signout{
  border-right: 1px solid;
}

#browse-profiles-links {
  font-size: 18px;
  padding-top: 3px;
}

#cred_user, #cred_pass{
	outline: 0;
  background: #f2f2f2;
  width: 300px;
  border: 0;
  margin-top: 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}

#submit_button{
	margin-top: 10px;
  text-transform: uppercase;
  background: #d6d8db;
  width: 377px;
  border: 0;
  padding: 15px;
  color: black;
	font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

#submit_button:hover{
	background: #b3b5b7;
}

/*Libraries Tab Styling*/
#afterglow_list, #plyr_list, #videojs_list{
	list-style: disc outside none;
	display: list-item;
	margin-left: 20px;
	margin-top: 5px;
}

#libraries_list{
	margin-top: 5px;
	margin-bottom: 5px;
}

#libraries_list li{
	display: inline-block;
	background-color: #f2f2f2;
	padding: 5px;
	border: 1px solid;
	cursor: pointer;
}
#libraries_list li:hover{
	background: #b3b5b7;
}

article h2{
	margin-top: 5px;
	margin-bottom: 5px;
}

}
#code_format{
	margin-top: 10px;
	margin-bottom: 10px;
}
